/* general */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    width: 70%;
    margin: auto;
}
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}
/* debug */
.debug .headcontent{
    height: 80px;
    margin-top: 20px;
}
/* header */
.headcontent{
    background-color: blueviolet;
    width: 100%;
}
/* main */
.maincontent{

}